<?xml version="1.0" encoding="UTF-8"?>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Download | Angularアプリケーション構築ガイド</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="navbar navbar-default navbar-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">Angular Application Build Guide</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li><a href="http://angular2.densan-labs.net/">Docs</a></li>
              <li><a href="http://github.com/nishio-dens/angular2-application-build-guide">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="book container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Angular アプリケーション構築ガイド ダウンロードページ</h2>

          <p>
            最終更新日: <%= Time.now %>
          </p>

          <p>
            本書は現在執筆中です。内容は予告なく変更される場合があります。<br />
            あらかじめご了承ください。
          </p>

          <ul>
            <li>
              <a href="./angular2-application-build-guide.pdf">PDF版をダウンロード (<%= Time.now %> 更新版)</a>
            </li>
            <li>
              <a href="./angular2-application-build-guide.epub">EPUB版をダウンロード(<%= Time.now %> 更新版)</a>
            </li>
          </ul>

          <p>
            ご指摘、ご助言、要望等ございましたら、
            <a href="http://github.com/nishio-dens/angular2-application-build-guide">Github</a>
            のIssueにお寄せください。
          </p>
          <p>
            Web版は <a href="http://angular2.densan-labs.net/">こちら</a> よりご覧になることができます。
          </p>
          <ul>
        </div>
      </div>
    </div>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85435763-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
